#!/usr/bin/make -f
# -*- makefile -*-

export DEB_BUILD_MAINT_OPTIONS = hardening=+all
export LC_ALL=C.UTF-8

override_dh_auto_configure:
	dh_auto_configure \
		-- \
		-Dinstalled_tests=true \
		-Dsoup2=true \
		$(NULL)

# Don't start the services on install
override_dh_systemd_start:
	dh_systemd_start -pmogwai-scheduled --no-start mogwai-scheduled.service

override_dh_missing:
	dh_missing --fail-missing

%:
	dh $@ --with python3,systemd --parallel
